html {
    font-size: 1rem;
}

body {
    margin: 0px;
    height: 100%;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-menubar-start {
    margin-right: 10px;
    margin-left: 10px;
}

.p-menubar-end {
    margin-right: 10px;
}

.p-datatable {
    padding-top: 20px;
}

.progress_outer {
  width:100%;
  display: flex;
  justify-content: center;
}

.video-padding {
    margin-bottom: 20px;
}