<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<script type="text/javascript">
		// FIXME: this is essentially ddosing self, find a better fix
		var out = ""
		var intervalId = window.setInterval(function(){
			// fetch('./pharm/is_empty', {
			// 	headers: {
			// 		'Accept': 'application/json'
			// 	}})
			// .then(response => response.text())
			// .then(text => out=text)
			fetch('./pharm/is_empty', {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({"queue": "{{ name }}"})
			}) 
			.then(response => response.json())
			.then(response => out=response)
			if (!(out == "" || out == "null")) {
				console.log(out);
				clearInterval(intervalId);
			}
		}, 5000);
	</script>
	<h1>Hello World!</h1>
	<img src="{{ url_for('static', filename='temp/' + name + '.png')}}">
</body>
</html>